<!doctype html>
<html lang="es" class="pf-m-redhat-font">
<head>
    <meta charset="UTF-8">
    <title>Project OpenUBL</title>
    <link href="css/bootstrap.css" rel="stylesheet">
<body>
<div class="container">
    <div class="row pb-5">
        <div class="col-8">
            <table style="border: 1px solid #212529;">
                <tbody>
                <tr>
                    <td class="pt-1 ps-1 fw-bold">RESUMEN DIARIO:</td>
                    <td class="pt-1 pe-1 fw-bold">RC-{input.fechaEmision.format('yyyyMMdd')}-{input.numero}</td>
                </tr>
                <tr>
                    <td class="ps-1 pb-1">Fecha emisión:</td>
                    <td class="pe-1 pb-1">{input.fechaEmision.format('dd-MM-yyyy')}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {#if metadata.logo}
            <div class="col-4">
            <img alt="Logo" src="data:image/png;base64,{metadata.logo }" style="max-height: 40px;"/>
            </div>
        {/if}
    </div>

    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                <tr>
                    <td class="fw-bold">PROVEEDOR</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{input.proveedor.razonSocial}</td>
                </tr>
                <tr>
                    <td>RUC: {input.proveedor.ruc}</td>
                </tr>
                <tr>
                    <td>
                        {#if input.proveedor.direccion}
                            <address>{input.proveedor.direccion.print()}<br></address>
                        {/if}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm">
            <thead class="uppercase bg-gray-200">
            <tr>
                <th class="py-3">Operacion</th>
                <th class="py-3">Tipo</th>
                <th class="py-3">Comprobante</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {#each input.comprobantes}
                <tr>
                <td>{it.tipoOperacion.catalog(19)}</td>
                <td>{it.comprobante.tipoComprobante.catalog(1)}</td>
                <td>{it.comprobante.serieNumero}</td>
                </tr>
            {/each}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>