{{- if not .Values.database.hostname }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "ublhub.fullname" . }}-db
  labels:
    {{- include "ublhub.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
kind: Service
apiVersion: v1
metadata:
  name: {{ include "ublhub.fullname" . }}-db
spec:
  ports:
    - name: tcp
      protocol: TCP
      port: 5432
      targetPort: 5432
  selector:
    app.kubernetes.io/name: {{ include "ublhub.fullname" . }}-db
  type: ClusterIP
  sessionAffinity: None
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ include "ublhub.fullname" . }}-db
  labels:
    app.openshift.io/runtime: postgresql
    app.kubernetes.io/name: {{ include "ublhub.fullname" . }}-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "ublhub.fullname" . }}-db
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "ublhub.fullname" . }}-db
    spec:
      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: {{ include "ublhub.fullname" . }}-db
      containers:
        - name: postgres
          image: postgres:13.7
          ports:
            - containerPort: 5432
              protocol: TCP
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: {{ include "ublhub.fullname" . }}-db
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: {{ include "ublhub.fullname" . }}-db
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  key: database
                  name: {{ include "ublhub.fullname" . }}-db
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 64Mi
          livenessProbe:
            exec:
              command:
                - "/bin/sh"
                - "-c"
                - 'psql -U $POSTGRES_USER -d $POSTGRES_DB -c ''SELECT 1'' '
            initialDelaySeconds: 60
            timeoutSeconds: 10
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - "/bin/sh"
                - "-c"
                - 'psql -U $POSTGRES_USER -d $POSTGRES_DB -c ''SELECT 1'' '
            initialDelaySeconds: 10
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: "/dev/termination-log"
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: db-data
              mountPath: "/var/lib/postgresql"
          securityContext:
            privileged: false
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: { }
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
{{ end }}