<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="p-10">
    <div class="flex">
        <div class="flex-1">
            <div class="text-2xl">FACTURA {input.serie}-{input.numero}</div>
            <div class="text-1xl">Fecha emisión {input.fechaEmision.format('yyyyMMdd')}</div>
        </div>
        <div class="flex-1 text-right">
            <span>logo</span>
            <div>
                <div class="text-1xl">RUC {input.proveedor.ruc}</div>
                <div class="text-1xl">{input.proveedor.razonSocial}</div>
                <div class="text-sm">{input.proveedor.direccion}</div>
            </div>
        </div>
    </div>

    <div>
        <div class="text-2xl">Cliente</div>
        <div>
            <div class="text-1xl">{input.cliente}</div>
            <address class="text-sm">
                {input.cliente.direccion}
            </address>
        </div>
    </div>

    <div class="mt-9">
        <table class="w-full text-sm text-left">
            <thead class="uppercase bg-gray-200">
            <tr>
                <th class="px-6 py-3">Cant.</th>
                <th class="px-6 py-3">UM</th>
                <th class="px-6 py-3">Descripción</th>
                <th class="px-6 py-3">V/U</th>
                <th class="px-6 py-3">P/U</th>
                <th class="px-6 py-3 text-right">Importe</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b">
                <td class="px-6 py-4">20</td>
                <td class="px-6 py-4">KG</td>
                <td class="px-6 py-4">Laptop Apple 17"</td>
                <td class="px-6 py-4">109.89</td>
                <td class="px-6 py-4">109.89</td>
                <td class="px-6 py-4 text-right">109.89</td>
            </tr>
            <tr class="border-b">
                <td class="px-6 py-4">20</td>
                <td class="px-6 py-4">KG</td>
                <td class="px-6 py-4">Laptop Apple 17"</td>
                <td class="px-6 py-4">109.89</td>
                <td class="px-6 py-4">109.89</td>
                <td class="px-6 py-4 text-right">109.89</td>
            </tr>
            <tr class="border-b">
                <td class="px-6 py-4">20</td>
                <td class="px-6 py-4">KG</td>
                <td class="px-6 py-4">Laptop Apple 17"</td>
                <td class="px-6 py-4">109.89</td>
                <td class="px-6 py-4">109.89</td>
                <td class="px-6 py-4 text-right">109.89</td>
            </tr>
            </tbody>
            <tfoot class="uppercase text-right">
            <tr>
                <td colspan="5" class="px-6 pt-4">Gravado</td>
                <td colspan="1" class="px-6 pt-4">123.45</td>
            </tr>
            <tr>
                <td colspan="5" class="px-6">Gratuito</td>
                <td colspan="1" class="px-6">123.45</td>
            </tr>
            <tr>
                <td colspan="5" class="px-6">Exonerado</td>
                <td colspan="1" class="px-6">123.45</td>
            </tr>
            <tr>
                <td colspan="5" class="px-6 pb-4 border-b">Inafecto</td>
                <td colspan="1" class="px-6 pb-4 border-b">123.45</td>
            </tr>
            <tr>
                <td colspan="5" class="px-6 font-bold">TOTAL</td>
                <td colspan="1" class="px-6 font-bold">123.45</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>