.project {  
  padding: var(--pf-c-nav__link--PaddingTop) var(--pf-c-nav__link--PaddingRight)
    var(--pf-global--spacer--lg) var(--pf-c-nav__link--PaddingLeft);
  border-bottom: 1px solid var(--pf-c-nav__link--before--BorderColor);
}

.project .pf-c-context-selector__toggle {
  color: #FFFFFF;
}

.project .pf-c-select .pf-c-select__toggle {
  color: var(--pf-global--BackgroundColor--100);
  background-color: var(--pf-global--Color--100);
}

.project .pf-c-select .pf-c-select__toggle::before {
  border-color: var(--pf-global--BackgroundColor--dark-400)
    var(--pf-global--BackgroundColor--dark-400)
    var(--pf-c-select__toggle--before--BorderBottomColor)
    var(--pf-global--BackgroundColor--dark-400);
}

.project .pf-c-select .pf-c-select__toggle:focus::before,
.project .pf-c-select .pf-c-select__toggle:hover::before {
  border-bottom-color: var(--pf-c-select__toggle--before--BorderBottomColor);
}

.project .pf-c-select .pf-c-select__toggle:focus::before {
  border-bottom-width: var(
    --pf-c-select__toggle--m-expanded--before--BorderBottomWidth
  );
}
